ist: trusty
sudo: false


language: node_js
node_js:
  - '8'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - Poker-Fronend/node_modules

install:
  - cd Poker-Frontend && npm install

script:
  - cd Poker-Frontend && npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox
