ist: trusty
sudo: false

language: node_js
node_js:
  - '12'


cache:
  directories:
    - Poker-Frontend/node_modules


script:
    - cd Poker-Frontend
    - npm install
    - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox
